<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Segundo Parcial</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header" class="container">
        <div class="nav justify-content-center">
            <img src="~/img/logo.png" alt="Logo" class="logo" />
        </div>
        <ul class="nav justify-content-center" id="nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home", new { @class = "nav-link font-weight-bold ml-3" })</li>
            <li>@Html.ActionLink("Asignaturas", "Asignaturas", "Home", new { @class = "nav-link font-weight-bold ml-3" })</li>
            <li>@Html.ActionLink("Agenda electrónica", "Agenda", "Home", new { @class = "nav-link font-weight-bold ml-3" })</li>
            <li>@Html.ActionLink("Lector de Archivos", "Lector", "Home", new { @class = "nav-link font-weight-bold ml-3" })</li>
            <li>@Html.ActionLink("Acerca de", "About", "Home", new { @class = "nav-link font-weight-bold ml-3" })</li>
        </ul>
    </div>




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
